/* -----------utilities----------- */
/* --------Colors!!! */
/* --------Fotns!!! */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Manrope", sans-serif;
}

.d-none {
  display: none;
}

.change {
  opacity: 1 !important;
  transition: all 400ms;
  z-index: 10;
}

.changeOff {
  opacity: 0 !important;
  transition: all 400ms;
}

.cardContainer__share__tooltip {
  opacity: 0;
  background-color: #48556a;
}

.tooltipArrowDown {
  display: flex;
  width: 41px;
  height: 20px;
  background-color: #48556a;
  position: absolute;
  bottom: -8px;
  left: 100px;
  transform: rotate3d(-37, 144, 96, 72deg);
  z-index: -1;
}

.iconPinterest, .iconTwitter, .iconFacebook, .shareIcon, .shareIcon-white {
  display: inline-flex;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.shareIcon, .shareIcon-white {
  width: 20px;
  height: 20px;
  background-image: url("../images/icon-share.svg");
}

.shareIcon-white {
  filter: grayscale(1) contrast(0) brightness(2.5);
}

.iconFacebook {
  width: 20px;
  height: 20px;
  background-image: url("../images/icon-facebook.svg");
}

.iconTwitter {
  width: 20px;
  height: 20px;
  background-image: url("../images/icon-twitter.svg");
}

.iconPinterest {
  width: 20px;
  height: 20px;
  background-image: url("../images/icon-pinterest.svg");
}

@media only screen and (max-width: 850px) {
  .tooltipArrowDown {
    display: none;
  }
}
/* -----------/utilities----------- */
/* -----------components----------- */
body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ecf2f8;
}

.wrapper {
  width: 90%;
  min-width: 330px;
  max-width: 450px;
  height: auto;
}

.cardContainer {
  width: 100%;
  display: grid;
  grid-template-columns: minmax(330px, 450px);
  grid-template-rows: 230px auto auto;
  border-radius: 10px;
  background-color: white;
  overflow: hidden;
}
.cardContainer__photo {
  width: 100%;
  grid-column: 1/2;
  grid-row: 1/2;
  overflow: hidden;
}
.cardContainer__photo img {
  width: 100%;
}
.cardContainer__description {
  grid-column: 1/2;
  grid-row: 2/3;
  width: 100%;
  display: flex;
  min-height: 200px;
  justify-content: center;
  margin-top: 20px;
}
.cardContainer__description__text {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-self: center;
  justify-content: space-evenly;
}
.cardContainer__description__text h2 {
  font-size: 1.6rem;
  color: #48556a;
  font-weight: 700;
}
.cardContainer__description__text p {
  line-height: 1.5;
  font-weight: 500;
  word-spacing: 1.6px;
  color: #6c7784;
  font-size: 1.3rem;
}
.cardContainer__share {
  width: 100%;
  height: 80px;
  grid-column: 1/2;
  grid-row: 3/4;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.cardContainer__share__show {
  grid-column: 1/1;
  grid-row: 1/2;
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  position: absolute;
}
.cardContainer__share__show__user {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
}
.cardContainer__share__show__user img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 50%;
}
.cardContainer__share__show__user__data {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.cardContainer__share__show__user__data h3 {
  font-size: 1.3rem;
  font-weight: bold;
  color: #48556a;
}
.cardContainer__share__show__user__data span {
  font-size: 1.3rem;
  color: #6c7784;
}
.cardContainer__share__show__icon, .cardContainer__share__tooltip__icon {
  width: 35px;
  height: 35px;
  border: 1px solid #ecf2f8;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ecf2f8;
}
.cardContainer__share__show__icon:hover, .cardContainer__share__tooltip__icon:hover {
  cursor: pointer;
}
.cardContainer__share__show__icon:focus, .cardContainer__share__tooltip__icon:focus {
  outline: none;
}
.cardContainer__share__tooltip {
  opacity: 0;
  width: 100%;
  height: 80px;
  align-items: center;
  justify-content: center;
  display: flex;
  grid-column: 1/1;
  grid-row: 3/4;
}
.cardContainer__share__tooltip__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}
.cardContainer__share__tooltip__container__social {
  width: 70%;
  display: flex;
  justify-content: space-evenly;
}
.cardContainer__share__tooltip__container__social h3 {
  font-size: 1.3rem;
  text-transform: uppercase;
  color: #6c7784;
  letter-spacing: 5px;
}
.cardContainer__share__tooltip__icon {
  background-color: #6d7f97;
  border-color: #6d7f97;
}

@media only screen and (min-width: 850px) {
  .wrapper {
    position: relative;
    max-width: 730px;
  }

  .cardContainer {
    max-width: 730px;
    grid-template-columns: 287px 1fr;
    grid-template-rows: 200px 1fr;
  }
  .cardContainer__photo {
    display: flex;
    grid-column: 1/2;
    grid-row: 1/3;
  }
  .cardContainer__photo img {
    object-fit: cover;
    object-position: left;
  }
  .cardContainer__description {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 0;
  }
  .cardContainer__description__text h2 {
    font-size: 2rem;
  }
  .cardContainer__description__text p {
    font-size: 1.3rem;
    word-spacing: initial;
  }
  .cardContainer__share {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .cardContainer__share__show {
    align-items: flex-start;
    margin-top: 10px;
  }
  .cardContainer__share__show__user {
    align-items: flex-start;
  }
  .cardContainer__share__show__icon:hover, .cardContainer__share__tooltip__icon:hover {
    box-shadow: 0px 0px 2px 1px #c9ccd0;
  }
  .cardContainer__share__tooltip {
    max-width: 250px;
    height: 50px;
    border-radius: 10px;
    position: absolute;
    grid-column: 2/3;
    grid-row: 2/3;
    right: -70px;
    bottom: 106px;
  }
  .cardContainer__share__tooltip__container {
    width: 100%;
    height: inherit;
    position: relative;
  }
  .cardContainer__share__tooltip__container__social {
    width: inherit;
    height: inherit;
    align-items: center;
  }
  .cardContainer__share__tooltip__container__social h3:hover {
    color: white;
  }
  .cardContainer__share__tooltip__container__social a:hover {
    transform: scale(1.3);
    transition: 200ms;
  }
  .cardContainer__share__tooltip__icon {
    display: none;
  }
}
/* -----------/components----------- */

/*# sourceMappingURL=styles.css.map */
